#container {
  display: grid;
  background-color: beige;
  background-size: 100%;
  background-repeat: no-repeat;
  /* overflow: hidden; */
}
.dropzone {
  outline: 0.5px solid grey;
}

.piece {
  position: absolute;
}

button {
  margin-top: 2em;
  margin-right: 1em;
  border: none;
  padding: 1em;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
